@{
	ViewBag.Title = "Home Page";
	Layout = "~/Views/Shared/_FullScreenLayout.cshtml";
}
<link href="~/Content/index.css" rel="stylesheet" />
<script src="~/Scripts/App/AngularScripts/MainCtrl.js"></script>
<link rel="stylesheet" href="https://js.arcgis.com/3.23/esri/css/esri.css">
<style>
	.esriIconFallbackText {
		display: none
	}

	#HomeButton {
      position: absolute;
      top: 95px;
      left: 20px;
      z-index: 50;
    }
</style>
<div ng-controller="MainCtrl" ng-cloak style="width:100%;height:100%; display:flex; flex-direction:column;">
	<div id="menuPanel">
		<div class="leftMenu" style="display:inline-block; width:100%">
			<div class="menuBtn btn btn-default tooltip" ng-init="ActivateTool('Supplier')" title="Supplier"
				 ng-click="ActivateTool('Supplier')"
				 ng-class="{active:currentTool=='Supplier'}">
				<img ng-if="currentTool!='Supplier'" src="@Url.Content("~/Content/images/user.png")" class="toolspanelIcon" />
				<img ng-if="currentTool=='Supplier'" src="@Url.Content("~/Content/images/user_1.png")" class="toolspanelIcon" />
				<span ng-show="currentTool=='Supplier'">Supplier</span>
			</div>
			<div class="menuBtn btn btn-default tooltip" title="User"
				 ng-click="ActivateTool('User')"
				 ng-class="{active:currentTool=='User'}">
				<img ng-if="currentTool!='User'" src="@Url.Content("~/Content/images/supplier.png")" class="toolspanelIcon" />
				<img ng-if="currentTool=='User'" src="@Url.Content("~/Content/images/supplier_1.png")" class="toolspanelIcon" />
				<span ng-show="currentTool=='User'">User</span>
			</div>			
		</div>
	</div>
	<div id="LeftPanel" ng-show="showLeftPanel" style="overflow:hidden;">
		<div>
			<span style="position:relative;z-index:9999;float:right;" class="glyphicon glyphicon-remove" aria-hidden="true"
				  ng-click="showLeftPanel=false;hidePanel();currentTool=null;"></span>
		</div>
		<div style="width:100%;height:100%; overflow:auto;" ng-include="leftPanelView"></div>
	</div>

	<div id="RightPanel" style="display:flex; flex-direction:column; overflow: hidden!important" ng-show="showRightPanel">	
		<div id="HomeButton"></div>	
		@*<div id="mapID">
		</div>*@
	</div>
	<span kendo-notification="notification" id="notificationID"></span>

	<div ng-show="showLeftPanel" id="sidebar-resizer"
		 resizer="vertical"
		 resizer-width="0.2%"
		 resizer-left="#LeftPanel"
		 resizer-right="#RightPanel">
	</div>

</div>
<script>
	var url = {};
	url.getSupplier = '@Url.Action("getsupplier", "supplier")';
	url.getSupplierLocation = '@Url.Action("getSupplierLocation", "supplier")';
</script>
